/**:root{
    --background: rgb(255, 253, 248);
    --font-color: rgb(54, 43, 88);   
    --main-color1: #bcff85;
    --main-color2: rgb(218, 166, 248);
    --accent: rgb(139, 44, 247);
}**/
:root{
    --background: rgb(255, 253, 248);
    --font-color: rgb(54, 43, 88);   
    --main-color1: #ffa3dc;
    --main-color2: rgb(255, 245, 109);
    --accent: rgb(54, 43, 88); 
}
/**:root{
    --background: rgb(255, 253, 248);
    --font-color: rgb(54, 43, 88);   
    --main-color1: rgb(255, 245, 109);
    --main-color2: #f88e7b;
    --accent: rgb(54, 43, 88); 
}**/
@font-face {
    font-family: Nurom;
    src: url(./assets/fonts/Nurom-Bold.ttf)
}



*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
/**----------DEFAULT HTML--------**/

body{
    font-family: 'Nurom';
    color: var(--font-color);
    background-color: var(--background)

}

button:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
    color: rgb(147, 120, 228);    

}

button a:hover{
    
    color: rgb(147, 120, 228);  
}


.nav-bar{
    background-color: var(--background);
    position: fixed; 
    top: 0; 
    width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    
    border-bottom: 10px solid var(--font-color);
   
}


.nav-login button{
    font-size: 1.5rem;
    color: var(--font-color); 
    font-family: 'Nurom';
    padding: 0.5rem 1.5rem;
    padding-top: 0.8rem;
    background: var(--main-color2);
    border-radius: 15px;
    margin: 0 0.5rem;
    border: none;
    border-bottom: 3px solid var(--font-color);

}
.nav-login button:hover{
    color: rgb(147, 120, 228); 
}

/**----------LEVEL CARD STYLING--------**/


.all-level-cards:hover > * {
    transition: 0.2s ease-in-out;
    
    opacity: 0.5;
  }
  
  
  .all-level-cards:hover > *:hover {
   
    background: linear-gradient(105deg, var(--main-color1) 50%, var(--main-color2) 50%);
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);

    opacity: 1;
  }


.level-card{
    transition: 0.2s ease-in-out;
    color: rgb(54, 43, 88);
    border-radius: 32px;
    background: linear-gradient(105deg, var(--main-color2) 50%, var(--main-color1) 50%);
    border-bottom: 8px solid var(--accent);
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.level-card-name{
    font-size: 3rem;
}


.level-card-btn{
    
    font-family: 'Nurom';

    border: none;
    background: none;
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 0.5rem;
    padding: 0.6rem 0.6rem;
    padding-top: 0.8rem;
   
    

}
.level-card-btn-text{
    color: rgb(54, 43, 88);    
    text-decoration: none;

}


/**----------LEVEL.js styling--------**/
.kana-practice{

    margin: 10rem auto 0;
    padding: 14rem 0rem;
    max-width: 50rem;
    background: var(--main-color1);
    border-bottom: 8px solid var(--font-color);
    box-shadow: 2px 4px 13px var(--font-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.displayed-kana{
  font-size: 4rem;
}
.kana-input{
    font-family: 'Nurom';
    color:var(--font-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    width: 50%
}

/**----------LEARN PAGES STYLING--------**/

.learn-new-kana{
    
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 4rem;
    background-color: var(--font-color);
    color: white;
}

.kana-input-incorrect{
    background-color: rgb(223, 120, 120);
}

/** LANDING PAGE??? **/

#level-selection {
    margin: 0 auto;
    width: fit-content;
}

.landing-page{
    margin: 0 auto;
    min-height: 58rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: var(--font-color);

    font-size: 2.5rem;
    text-align: center;
    background: var(--main-color1);
    background: linear-gradient(5deg, var(--background), var(--background) 20%, var(--main-color1) calc(20% + 1.5px), var(--main-color1) 15%);

}
 .landing-page h1{
    font-weight: bold;
    padding-bottom: 1rem;
    
 }

.landing-page p{
    font-size: 1.5rem;
    color: var(--background);

}

.get-started-btn{
    font-family: Nurom;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
    padding-top: 1.2rem;
    margin-top: 2rem;
    background-color: var(--main-color2);
    border: none;
    border-radius: 20px;
    border-bottom: 4px solid var(--font-color);
    color: var(--font-color);
    text-decoration: none;

}

.test-class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-child1{

    transition: 0.2s ease-in-out;
    color: rgb(54, 43, 88);
    border-radius: 32px;
    background: var(--main-color1);
    border-bottom: 8px solid var(--accent);
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
    align-self: flex-start;
    margin-top: 7rem;
 

}

.test-child2{
    
    text-align: center;
    transition: 0.2s ease-in-out;
    color: rgb(54, 43, 88);
    border-radius: 32px;
    background: var(--main-color2);
    border-bottom: 8px solid var(--accent);
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
}

/**CUSTOM PRACTICE*/
.custom-practice-container{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.custom-practice-container h1{
    text-align: center;
}

.custom-practice{
    font-size: 1.193rem;
    font-weight: 800;
    background-color: var(--main-color1);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


.row-option{
   padding: 1rem;
   margin: 0 auto;
}

.practice-window{
    text-align: center;

}

.custom-kana-practice{
    
    padding: 6rem 0rem;
    background: var(--main-color2);
    text-align: center;
}

.select-kana-btn{
   
    display: inline-block;
    font-family: Nurom;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--main-color1);
    
}

