/**:root{
    --background: rgb(255, 253, 248);
    --font-color: rgb(54, 43, 88);   
    --main-color1: #bcff85;
    --main-color2: rgb(218, 166, 248);
    --accent: rgb(139, 44, 247);
}**/
:root{
    --background: rgb(255, 253, 248);
    --font-color: rgb(54, 43, 88);   
    --main-color1: #ffa3dc;
    --main-color2: rgb(255, 245, 109);
    --accent: rgb(54, 43, 88); 
}
/**:root{
    --background: rgb(255, 253, 248);
    --font-color: rgb(54, 43, 88);   
    --main-color1: rgb(255, 245, 109);
    --main-color2: #f88e7b;
    --accent: rgb(54, 43, 88); 
}**/
@font-face {
    font-family: Nurom;
    src: url(./assets/fonts/Nurom-Bold.ttf)
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/**----------DEFAULT HTML--------**/


body{
    font-family: 'Nurom';
    color: var(--font-color);
    background-color: var(--background)

}

.nav-bar{
    background-color: var(--background);
    position: fixed; 
    top: 0; 
    width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    
    border-bottom: 10px solid var(--font-color);
   
}


.nav-login button{
    font-size: 1.2rem;
    color: var(--font-color); 
    font-family: 'Nurom';
    padding: 1rem 1rem;
    padding-top: 1.2rem;
    background: var(--main-color1);
    border-radius: 12px;
    margin: 0 0.5rem;
    border: none;
}

/**----------LEVEL CARD STYLING--------**/



.level-card-container{
    padding: 0 2rem;
    
}
.level-card{
    color: rgb(54, 43, 88);
    border-radius: 32px;
    background: linear-gradient(110deg, var(--main-color2) 50%, var(--main-color1) 50%);
    border-bottom: 8px solid var(--accent);
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.level-card-name{
    font-size: 3rem;
}


.level-card-btn{
    
    font-family: 'Nurom';

    border: none;
    background: none;
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 0.5rem;
    padding: 0.6rem 0.6rem;
    padding-top: 0.8rem;
   
    

}
.level-card-btn-text{
    color: rgb(54, 43, 88);    
    text-decoration: none;
    
    

}
/**----------LEVEL.js styling--------**/
.kana-practice{

    margin: 10rem auto 0;
    padding: 14rem 0rem;
    max-width: 50rem;
    background: var(--main-color1);
    border-bottom: 8px solid var(--font-color);
    box-shadow: 2px 4px 13px var(--font-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.displayed-kana{
  font-size: 4rem;
}
.kana-input{
    font-family: 'Nurom';
    color:var(--font-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    width: 50%
}

/**----------LEARN PAGES STYLING--------**/

.learn-new-kana{
    
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 4rem;
    background-color: var(--font-color);
    color: white;
}

.kana-input-incorrect{
    background-color: rgb(223, 120, 120);
}

/** LANDING PAGE??? **/

.landing-page{
    margin: 0 auto;
    min-height: 58rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color:rgb(54, 43, 88);
    font-size: 2.5rem;
    text-align: center;
    background: var(--main-color1);
    background: linear-gradient(5deg, var(--background) 15%, var(--main-color1) 15%);
   
  
}

.get-started-btn{
    
    font-family: Nurom;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
    padding-top: 1.2rem;
    margin-top: 2rem;
    background-color: var(--main-color2);
    border: none;
    border-radius: 20px;
    border-bottom: 4px solid var(--font-color);


}

.get-started-btn a{
    color: var(--font-color);
    text-decoration: none;
    
}

.get-started-btn a:visited{
    color: var(--font-color);
}
